html,body,ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#box{
	width:100%;
      height: 100%;
      position: absolute;
      left:0;
      top: 0;
      transition: all .4s;
}
.page{
	width: 100%;
      height: 100%;
      background: red;
      font-size: 60px;
      color: #fff;
      text-align: center;
      line-height: 600px;
      transition: ease .6s;
      position: relative;
}
#openBox{
	position: fixed;
      right: 25px;
      top: 50%;
      z-index: 99;
      margin-top: -91px;
}
#openBox .active{
	width: 10px;
      height: 10px;
	padding: 8px;
	margin: 8px;
      display: block;
      cursor: pointer;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background: #000;
      transition: all .5s ease;
}