html,body,ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#box{
	width:100%;
      height: 100%;
      position: absolute;
      left:0;
      top: 0;
      transition: all .4s;
}
.page{
	width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      transition: ease .6s;
      position: relative;
}
#openBox{
	position: fixed;
      right: 25px;
      top: 50%;
      z-index: 99;
      margin-top: -91px;
}
#openBox .active{
	width: 10px;
      height: 10px;
	padding: 8px;
	margin: 8px;
      display: block;
      cursor: pointer;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background: #000;
      transition: all .5s ease;
}

/*第一张 赵佳佳*/
#page1{
    position: relative;
}
.homepageLunbo{
    float: left;
    height: 100%;
    /*transition:all 0.5s;*/
}
.boxOne{
    position: relative;
}
#bgBox{
    height: 100%;
    position: absolute;
    margin: 0!important;
    top: 0;
    left: 0;
}
.homepageLunbo{
    height: 100%;
}
.homepageLunbo1{
    background: url(../image/wp1_1.jpg)50% center no-repeat;
    background-size: cover;
    position: relative;
}
.box1One{
    width: 100%;
    height: 231px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
}
.box1Main{
    margin:0 auto;
    width: 562px;
    height: 662px;
}
.box1Left{
    width: 123px;
    height: 231px;
    float: left;
    background: url(../image/words.png)no-repeat top right;
}
.box1Right{
    margin-top: 30px;
    float: left;
    margin-left: 20px;
}
.box1Right>span,
.box2>span{
    display: block;
    color: #fff;
    font-size: 36px;
    line-height: 30px;
}
.box2>span,
.box2>p{
    text-align: right;
}
.box1Right>div{
    width: 339px;
    height: 66px;
    margin: 10px 0px 5px 0px;
    background: url(../image/words.png) no-repeat;
}
.box1Right>p,
.box2>p,
.box3>p,
.box4>p{
    font-size: 16px;
    line-height: 24px;
    color: #ccc;
}
.box3>p,.box4>p{
    text-align: center;
}
.homepageLunbo2{
    background: url(../image/wp1_2.jpg)50% center no-repeat;
    background-size: cover;
    position: relative;
}
.box2Main{
    width: 100%;
    height: 162px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.box2{
    width: 325px;
    height: 100%;
    margin: 0 20%;

}
.shejikongImg{
    width: 320px;
    height: 65px;
    margin: 10px 0px 8px 0px;
    background: url(../image/words.png) no-repeat 0px -72px;
}
.share{
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}
.homepageLunbo3{
    background: url(../image/wp1_3.jpg)50% center no-repeat;
    background-size: cover;
    position: relative;
}
.box3Main{
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.box3{
    width: 400px;
    height: 100%;
    margin: 0 auto;
}
.box3>span,
.box4>span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #fff;
    line-height: 30px;
}
.jishupaiImg{
    width: 358px;
    height: 66px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../image/words.png) no-repeat 0px -219px;
}

.homepageLunbo4{
    background: url(../image/wp1_4.jpg)50% top no-repeat;
    background-size: cover;
    position: relative;
}
.box4Main{
    width: 100%;
    height: 172px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.box4{
    width: 345px;
    /*margin-top: 164px;*/
    height: auto;
    margin: 0 auto;
}
.box4>p>span{
    color: #00dfb9;
}
.bujuImg{
    width: 242px;
    height: 64px;
    margin: 0 auto;
    margin-top: 15px;
    background: url(../image/words.png) no-repeat 0px -147px;
}
.news{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    height: 150px;
    /*background: red;*/
}
.newTop{
    width: 405px;
    height: auto;
    margin: 0 auto
}
.newsTitle{
    float: left;
    margin: 1px 15px 0px 0px;
    color: #00dfb9;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
}
.NewsBox{
    width: 300px;
    float: left;
    height: 20px;
    margin: 0;
    overflow: hidden;
}
.NewsAll{
    width: 100%;
    height: 100px;
    transition:all 0.5s;
}
.NewsAll>li{
    width: 100%;
    height: 20px;
    color: #ddd;
    font-size: 14px;
    line-height: 20px;
}
.newsMain{
    width: 192px;
    height: 3px;
    margin: 0 auto;
    margin-top: 50px;
}
.newsMain>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
}
.newsMain>ul>li{
    float: left;
    width:22%;
    height: 100%;
    float: left;
    background: #fff;
}
.newsMore{
    border-bottom: 1px dotted #00dfb9;
    color: #00dfb9;
    font-size: 14px;
    display: inline-block;
    float: right;
    line-height: 20px;
}
.btnOne{
    width: 47px;
    height: 47px;
    margin: 0 auto;
    margin-top: 20px;
    background: url(../image/icons.png) no-repeat 0px -60px;
}
.btnOne:hover{
    background: url(../image/icons.png)no-repeat 0px -112px;
}
@media screen and (min-width: 465px) and (max-width: 660px){
    .box1Main{
        width: 297px;
        height: 145px;
    }
    .box1Left{
        width: 74px;
        height: 139px;
        float: left;
        background: url(../image/words_mini.png) no-repeat top right;
    }
    .box1Right{
        width: auto;
        height: auto;
        float: left;
    }
    .box1Right>span{
        font-size: 24px;
    }
    .box1Right>div{
        background: url(../image/words_mini.png) no-repeat;
        width: 203px;
        height: 40px;
        margin: 3px 0px 5px 0px;
    }
    .box1Right>p{
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }
    .box2{
        width: 200px;
        height: 100%;
        margin: 0 auto;

    }
    .box2>span{
        font-size: 24px;
        text-align: center;
    }
    .shejikongImg{
        width: 191px;
        height: 40px;
        margin: 8px auto;
        background: url(../image/words_mini.png) no-repeat 0px -45px;
    }
    .box2>p,
    .box3>p,
    .box4>p{
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
        text-align: center;
    }
    .box3{
        width: 245px;
        height: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .box3>span,
    .box4>span{
        font-size: 24px;
    }
    .jishupaiImg{
        width: 216px;
        height: 40px;
        margin-top: 10px;
        background: url(../image/words_mini.png) no-repeat 0px -131px;
    }
    .bujuImg{
        width: 143px;
        height: 38px;
        background: url(../image/words_mini.png) no-repeat 0px -88px;
    }
    .numTel>span{
        display: none;
    }
}
@media screen and (max-width: 464px) {
    .box1Main{
        width: 297px;
        height: 145px;
    }
    .box1Left{
        width: 74px;
        height: 139px;
        float: left;
        background:url(../image/words_mini.png)no-repeat top right;
    }
    .box1Right{
        width: auto;
        height: auto;
        float: left;
    }
    .box1Right>span{
        font-size: 24px;
    }
    .box1Right>div{
        background: url(../image/words_mini.png) no-repeat;
        width: 203px;
        height: 40px;
        margin: 3px 0px 5px 0px;
    }
    .box1Right>p{
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
    }
    .box2{
        width: 200px;
        height: 100%;
        margin: 0 auto;

    }
    .box2>span{
        font-size: 24px;
        text-align: center;
    }
    .shejikongImg{
        width: 191px;
        height: 40px;
        margin: 8px auto;
        background: url(../image/words_mini.png) no-repeat 0px -45px;
    }
    .box2>p,
    .box3>p,
    .box4>p{
        font-size: 12px;
        font-family: "宋体";
        line-height: 20px;
        text-align: center;
    }
    .box3{
        width: 245px;
        height: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .box3>span,
    .box4>span{
        font-size: 24px;
    }
    .jishupaiImg{
        width: 216px;
        height: 40px;
        margin-top: 10px;
        background: url(../image/words_mini.png) no-repeat 0px -131px;
    }
    .bujuImg{
        width: 143px;
        height: 38px;
        background: url(../image/words_mini.png) no-repeat 0px -88px;
    }
    .numTel>span{
        display: none;
    }
    .RightIconsMain{
        display: none;
    }

    .newsTitle, .newsMore {
        display: none;
    }

    .NewsBox {
        margin: 0 auto;
        float: none;
    }

    .newsMain {
        margin-top: 30px;
    }
    .newsMain > ul {
        margin: 0;
    }

    .newTop {
        width: 100%;
    }
}
@media screen and (max-width: 360px) {
    .newsMain {
        width: 110px;
        transition: width 0.5s;
    }

    .LunboBtn {
        width: 20% !important;
    }
}

/*赵佳佳 第一屏结束*/


/*杨康 第二屏css样式开始*/
#page2 {
    position: relative;
}

#page2 .box {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    transition: all .5s;
}

#page2 .box .header {
    width: 100%;
    text-align: center;
}

#page2 .box .header i {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 32px;
    width: 320px;
    background: url("../image/words.png") no-repeat 0px -294px;
}

#page2 .box .header span {
    font-size: 24px;
    letter-spacing: 4px;
    color: #333;
}

#page2 .box .main_content {
    margin: 60px auto 0;
    overflow: hidden;
    width: 1140px;
}

#page2 .box .main_content li {
    margin: 0 8px;
    float: left;
    width: 210px;
    height: 300px;
    background: url("../image/bg_green.png") no-repeat 0 300px;
    transition: all .4s;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

#page2 .box .main_content li:hover {
    animation: page2one .3s ease .3s forwards;
}

@keyframes page2one {
    0% {
        background: url("../image/bg_green.png") no-repeat 0 300px;
    }
    100% {
        background: url("../image/bg_green.png") no-repeat 0 0px;
    }
}

#page2 .box .main_content li u {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 156px;
    height: 156px;
    margin-left: 30px;
    transition: all .4s;
    background: url("../image/words.png") no-repeat 0 -363px;
}

#page2 .box .main_content li .cl {
    clip: rect(0px, 78px, 156px, 0px);
}

#page2 .box .main_content li .cr {
    clip: rect(0px, 156px, 156px, 78px);
}

#page2 .box .main_content li:hover .cl {
    clip: rect(156px, 78px, 156px, 0px);
}

#page2 .box .main_content li:hover .cr {
    clip: rect(0, 156px, 0, 78px);
}

#page2 .box .main_content li i {
    width: 76px;
    height: 62px;
    margin: 0 auto;
    display: block;
    margin-top: 42px;
}

#page2 .box .main_content li.pc i {
    background: url("../image/words.png") no-repeat -240px -357px
}

#page2 .box .main_content li.pc:hover i {
    animation: pc .3s ease .3s forwards;
}

@keyframes pc {
    0% {
        background-position: -240px -357px;
    }
    100% {
        background-position: -168px -357px;
    }
}

#page2 .box .main_content li.yd i {
    background: url('../image/words.png') no-repeat -404px -291px;
}

#page2 .box .main_content li.yd:hover i {
    animation: yd .3s ease .3s forwards;
}

@keyframes yd {
    0% {
        background-position: -404px -291px;
    }
    100% {
        background-position: -324px -291px;
    }
}

#page2 .box .main_content li.xt i {
    background: url('../image/words.png') no-repeat -415px -362px;
}

#page2 .box .main_content li.xt:hover i {
    animation: xt .3s ease .3s forwards;
}

@keyframes xt {
    0% {
        background-position: -415px -362px;
    }
    100% {
        background-position: -328px -362px;
    }
}

#page2 .box .main_content li.yw i {
    background: url('../image/words.png') no-repeat -244px -439px;
}

#page2 .box .main_content li.yw:hover i {
    animation: yw .3s ease .3s forwards;
}

@keyframes yw {
    0% {
        background-position: -244px -439px;
    }
    100% {
        background-position: -164px -439px;
    }
}

#page2 .box .main_content li.yf i {
    background: url('../image/words.png') no-repeat -422px -439px;
}

#page2 .box .main_content li.yf:hover i {
    animation: yf .3s ease .3s forwards;
}

@keyframes yf {
    0% {
        background-position: -422px -439px;
    }
    100% {
        background-position: -336px -439px;
    }
}

#page2 .box .main_content li strong {
    display: block;
    text-align: center;
    margin-top: 70px;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    cursor: pointer;
}

#page2 .box .main_content li:hover strong {
    animation: strong .3s ease .3s forwards;
}

@keyframes strong {
    0% {
        color: #000;
    }
    100% {
        color: #fff;
    }
}

#page2 .box label {
    display: block;
    height: 22px;
    width: 298px;
    margin: 0 auto;
    text-align: center;
    background: url("../image/words.png") no-repeat 0 -333px;
}

#page2 .box .main_content li p {
    width: 100%;
    position: absolute;
    font-size: 14px;
    top: 300px;
    left: 0;
    color: white;
}

#page2 .box .main_content li:hover p {
    animation: Pposition .3s ease .3s forwards;
}

@keyframes Pposition {
    0% {
        top: 300px;
    }
    100% {
        top: 220px;
    }
}

@media (max-width: 1200px) {
    #page2 .box .main_content {
        width: 930px;
        margin: 40px auto 0;
    }

    #page2 .box .main_content li {
        width: 170px;
        height: 270px;
    }

    #page2 .box .main_content li u {
        display: none;
    }

    #page2 .box .main_content li strong {
        margin-top: 40px;
    }
}

@media (max-width: 996px) {
    #page2 .box .main_content {
        width: 600px;
        margin: 0 auto;
    }

    #page2 .box .main_content li {
        width: 270px;
        height: 80px;
        margin: 30px 0 0 22px;
        padding: 10px 0 6px 14px;
    }

    #page2 .box .main_content li u {
        display: none;
    }

    #page2 .box .main_content li i {
        margin-top: 0;
        float: left;
    }

    #page2 .box .main_content li strong {
        float: left;
        margin: 6px 0 0 20px;
    }

    #page2 .box label {
        display: none;
    }
}

/*杨康 第二屏css样式结束*/

/*/王侃 第七屏CSS 开始/*/
#page7{
    background: url(../image/wp7.jpg) no-repeat 50% 60%;
}
.option{
    position: relative;
    left:50px;
    top:150px;
    width:80px;
    height:126px;
}
.option>li{
    position: relative;
    width:80px;
    height:42px;
    line-height: 42px;
    color: #888;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    float:left;
    font-family: "微软雅黑",Arial;
    z-index: 3;
    background:rgba(47,208,181,0.2);
    transition: all .2s;
}
.option>li:hover{
    color: white;
    opacity: 1;
}
#bg{
    position: absolute;
    top:0px;
    left:0px;
    width:80px;
    height:42px;
    background:rgba(47,208,181,0.5);
    z-index: 1;
    transition: all .3s;
}
@keyframes se_ft {
    0%{
        left:-500px;
    }
    100%{
        left:1050px;
    }
}
@keyframes se_bot {
    0%{
        height:0px;
    }
    100%{
        height:81px;
    }
}
.seven_font{
    position: relative;
    width:490px;
    height:240px;
    top:255px;
    /*left:1050px;*/
    left: -500px;
    overflow: hidden;
    animation: se_ft .5s  .3s 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.option_box{
    position: relative;
    left:0px;
    transform:translateX(-480px);
    width:1920px;
    height:240px;
    transition: all .3s;
}
.option_box>li{
    width: 490px;
    height:240px;
    float:left;
    text-align: left;
    font-family: "微软雅黑",Arial;
    transition: all .3s;
}
.option_li1>strong{
    display: block;
    height: 50px;
    line-height: 50px;
    color: #ddd;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 5px;
    margin-bottom: 5px;
}
.option_box>li>p{
    display: block;
    text-align: left;
    width: 460px;
    color: #999;
    line-height: 35px;
    font-size: 14px;
}
.option_li1>u{
    display: block;
    margin-top: 20px;
    color: #999;
    font-size: 24px;
    text-decoration: none;
}
.option_li2>strong{
    margin-bottom: 10px;
    display: block;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
    text-indent: 28px;
}
.option_li2>p{
    text-indent: 28px;
}
.option_li3>strong{
    padding-left: 30px;
    display: block;
    margin-bottom: 20px;
    color: #00dfb9;
    font-size: 22px;
    font-weight: normal;
}
.option_li3>ul>li{
    width:100%;
    color: #999;
    line-height: 35px;
    padding-left: 30px;
    list-style: none;
    font-family: "微软雅黑",Arial;
    background: url(../image/point.png) no-repeat 0px 13px;
    font-size: 14px;
}
.option_li3>ul>li>u{
    margin: 0 15px;
    text-decoration: none;
}
.box7_bottom{
    width:100%;
    height:71px;
    color: #bbb;
    text-align: center;
    font-family: "微软雅黑",Arial;
    font-size: 14px;
    position: absolute;
    bottom:0px;
    line-height: 70px;
    background:rgba(255,251,240,0.2);
    overflow: hidden;
    animation: se_bot .5s  .3s 1;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.box7_bottom>div{
    float:left;
    width:20%;
    height:70px;
    vertical-align: inherit;
}
.box7_bottom>div>u{
    margin-right: 10px;
    color: #00dfb9;
    font-family: Arial;
    font-size: 26px;
    text-decoration: none;
}
@media screen and (max-width: 1440px){
    .seven_font{
        left:30%;
    }
}
@media screen and (max-width: 720px) {
    .seven_font{
        left:5%;
        transform: scale(0.9);
    }
    .option{
        top:20%;
        left: 20%;
        width: 240px;
    }
    .option li{
        position: static;
        float: left;
        width: 80px;
    }
}
/*/王侃 第七屏CSS 结束/*/


/*百艺伟第八屏样式开始*/
.inner8{
    width:810px;height:350px;
    position:absolute;
    top:50%;left:50%;
    margin-left:-405px;
    margin-top:-175px;
}
.in8{
    width:810px;height:350px;
}
.in8-1{
    width:810px;
    height:200px;
    margin:0 auto 50px;
    border-bottom: 1px dotted #ccc;
    overflow:hidden;
}
.in8-1 img{
    float: left;
}
.in8-left{
    width:244px;
    height:177px;
    float:left;
    margin-left:70px;
}
.inn8-l{
    width: 243px;
    height: 37px;
    background: url(../image/words.png) no-repeat 0px -877px;
}
.in8-z{
    width:244px;
    height:105px;
    margin-top: 8px;
    color: #666;
    display:inline-block;
    font-size:13px;
    line-height: 26px;
}
.in8-z>a{
    margin-left: 20px;
    color: #d00000;
}
.in8-right{
    width:266px;
    height:160px;
    float:right;
    margin-top: 8px;
    color: #666;
    line-height: 26px;
    font-size: 13px;
}
.in8-2{
    margin:0 auto;
    width: 424px;
    height: 86px;
    background: url(../image/words.png) no-repeat 0px -787px;
}
@media screen and (min-width:1367px){
    .inner8{
        width:1097px;height:350px;
        top:50%;left:50%;
        margin-left:-548px;
    }
    .in8{
        width:1097px;
    }
    .in8-1{
        width:1097px;
    }
    .in8-left{
        width:416px;
    }

    .in8-z{
        width:416px;
    }
    .in8-right{
        width:416px;
    }

}
@media screen and (max-width:1366px){
    .in8{
        width:810px;height:350px;
    }

}

@media screen and (max-width:900px){
    .in8{
        width:470px;
    }
    .in8-1{
        width:470px;
        height:200px;
    }
    .in8-right{
        display:none;
    }

}

@media screen and (max-width:683px){
    .in8-1{
        height:150px;
        margin:20px auto 30px;
    }
}

/*百艺伟第八屏样式结束*/